<div style="text-align:center">
  <h1>
    Welcome to MediRecords!
  </h1>
</div>

<nav>
  <ul>
    <li><a routerLink="/create" routerLinkActive="active">Create</a></li>
    <li><a routerLink="/read" routerLinkActive="active">Read</a></li>
    <li><a routerLink="/update" routerLinkActive="active">Update</a></li>
    <li><a routerLink="/delete" routerLinkActive="active">Delete</a></li>
    <li><a routerLink="/visites" routerLinkActive="active">visites</a></li>
    <li><a routerLink="/create-visites" routerLinkActive="active">create-visites</a></li>
    <li><a routerLink="/traitement" routerLinkActive="active">traitement</a></li>

  </ul>
</nav>

<router-outlet></router-outlet>
